*{
  padding: 0;
  margin: 0;
}
@font-face {
  font-family: Gotham-Black;
  src: url(Gotham-Black.otf);
}
@font-face {
  font-family: GothamBook;
  src: url(GothamBook.ttf);
}
/* Nav Bar Start */
.top-bar{
   background-color:#5B5754;
   height: 100px;
}
.container{
  display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
    grid-template-rows: auto;
    grid-template-areas:
     "portfolio about circle resume contact";
}
.portfolio{
  grid-area: portfolio;
  justify-self: center;
  background-color:#5B5754;
  box-shadow: 0px 0px 15px 0px #17161694;
  outline: 3px solid #ffffff;
  width: 290px;
  height: 50px;
  margin-top: 52px;
}
.portfolio a{
  font-size: 2em;
  position: relative;
  left: 2.4em;
  top: 0.1em;
  font-family: 'Blenda Script';
  color: white;
}
.portfolio a:hover{
  opacity:50%;
}
.about{
  grid-area: about;
  justify-self: center;
  background-color:#5B5754;
  box-shadow: 0px 0px 15px 0px #17161694;
  outline: 3px solid #ffffff;
  width: 290px;
  height: 50px;
  margin-top: 52px;
}
.about a{
  font-size: 2em;
  position: relative;
  left: 3.1em;
  top: 0.1em;
  font-family: 'Blenda Script';
  color: white;
}
.about a:hover{
  opacity:50%;
}
.circle{
  grid-area: circle;
  justify-self: center;
  background-color:#5B5754;
  box-shadow: 0px 0px 15px 0px #17161694;
  width: 152px;
  height: 152px;
  border-radius: 50%;
  outline: 3px solid #ffffff;
  position: absolute;
  margin-top: 1px;
}
.circle img{
  grid-area: circle;
  justify-self: center;
  width: 152px;
  height: 152px;
  border-radius: 50%;
  position: absolute;
  margin-top: -8px;
  margin-left: 5px;
}
.resume{
  grid-area: resume;
  justify-self: center;
  background-color:#5B5754;
  box-shadow: 0px 0px 15px 0px #17161694;
  outline: 3px solid #ffffff;
  width: 290px;
  height: 50px;
  margin-top: 52px;
}
.resume a{
  font-size: 2em;
  position: relative;
  left: 3.1em;
  top: 0.1em;
  font-family: 'Blenda Script';
  color: white;
}
.resume a:hover{
  opacity:50%;
}
.contact{
  grid-area: contact;
  justify-self: center;
  background-color:#5B5754;
  box-shadow: 0px 0px 15px 0px #17161694;
  outline: 3px solid #ffffff;
  width: 290px;
  height: 50px;
  margin-top: 52px;
}
.contact a{
  font-size: 2em;
  position: relative;
  left: 3em;
  top: 0.1em;
  font-family: 'Blenda Script';
  color: white;
}
.contact a:hover{
  opacity:50%;
}
/* Nav Bar End */

/* Portfolio Start */
.portfolio-container h1{
  text-align: center;
  font-family: 'Gotham-Black';
  font-size: 3em;
  margin-top: 2em;
  margin-bottom: 1em;
}
.pg-div{
  width: 1000px;
  height: 2px;
  background-color: #5B5754;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4em;
}
.portfolio-gallery{
  display:grid;
  /* margin-left:8em; */
  grid-template-columns: 250px 250px 250px ;
  grid-template-rows: 400px 400px;
  grid-template-areas: 
    "a b c"
    "d e f";
  column-gap: 100px;
  row-gap: 100px;
  justify-content: center;
}
.gallery-img{
  display: block;
  grid-area:auto;
  width: 250px;
  height: 400px;
  object-fit: cover;
  box-shadow: 0px 0px 15px 0px #17161694;
  transition:0.3s ease-in-out;
}

.gallery-img:hover{
  transform:scale(1.1);
  opacity:50%;
}
/* Portfolio End */

/* About Me Start */
.about-container h2{
  text-align: center;
  font-family: 'Gotham-Black';
  margin-top: 120px;
  font-size: 3em;
  margin-top: 2em;
  margin-bottom: 1em;
}
.portrait{
  display: grid;
  grid-template-columns: 250px 35em ;
  grid-template-rows: 10em 15em;
  column-gap: 130px;
  row-gap: 100px;
  justify-content: center;

}
.portrait img{
  grid-column: 1/2;
  width: 250px;
  height: 400px;
  margin-left: 2em;
  box-shadow: 0px 0px 15px 0px #17161694;
}
.portrait h3{
  grid-column: 2/2;
  grid-row: 1/2;
  font-family: 'Blenda Script';
  font-size: 2em;
  margin-top: 3em;
}
.portrait p{
  grid-column: 2/2;
  grid-row: 2/2;
  font-family: 'GothamBook';
  line-height: 2em;
  margin-top: -2.5em;
}
/* About Me End */

/* Resume Start */
.resume-container h4{
  text-align: center;
  font-family: 'Gotham-Black';
  margin-top: 120px;
  font-size: 3em;
  margin-top: 2em;
  margin-bottom: 1em;
}
.resume-container img{
  justify-self: center;
  position: absolute;
  margin-left: 12em;
  margin-top: 4em;
  box-shadow: 0px 0px 15px 0px #17161694;
}
/* Resume End */

/* Media Start */
@media (max-width: 600px) {
  .gallery-img{
    max-width: 150px;
    max-height: 250px;
  }
  .container{
    display: grid;
      grid-template-columns: 250px 250px ;
      grid-template-rows: 400px 400px;
      grid-template-areas:
       "portfolio about"
        "circle" 
        "resume contact";
  }
  .portfolio{
    width: 250px;
    height: 40px;
    margin-top: 22px;
  }
  .portfolio a{
    font-size: 1.75em;
    left: 1.7em;
  }
  .about{
    width: 250px;
    height: 40px;
    margin-top: 64px;
    margin-left: -31.25em;
  }
  .about a{
    font-size: 1.75em;
    left: 2.3em;
  }
  .resume{
    width: 250px;
    height: 40px;
    margin-top: 62px;
    margin-left: -13.75em;
  }
  .resume a{
    font-size: 1.75em;
    right: 2.25em
  }
  .contact{
    width: 250px;
    height: 40px;
    margin-top: 22px;
    margin-left: -15.75em;
  }
  .contact a{
    font-size: 1.75em;
    left: 3em;
  }
  .circle{
    width: 125px;
    height: 125px;
  }
  .circle img{
    margin-top: -10px;
    margin-left: 2px;
    width: 125px;
    height: 125px;
  }
  .portfolio-container h1{
    font-size: 2.5em;
    margin-top: 1.5em;
    margin-bottom: 1em;
  }
  .pg-div{
    width: 400px;
    height: 2px;
    margin-bottom: 3em;
  }
  .portfolio-gallery{
    grid-template-columns: 150px 150px ;
    grid-template-rows: 250px 250px 250px 250px 250px 250px;
    grid-template-areas: 
    "a b"
    "c d"
    "e f";
    column-gap: 50px;
    row-gap: 50px;
    justify-content: center
    /* margin-left:-3em; */
  }
  .about-container h2{
    font-size: 2.5em;
    margin-top: -20em;
    margin-bottom: 0.5em;
  }
  .portrait{
    display: grid;
    grid-template-columns: 250px;
    grid-template-rows: 10em 15em 12em;
    column-gap: 80px;
    row-gap: 75px;
    margin-left: 8em;
  
  }
  .portrait img{
    width: 250px;
    height: 400px;
    margin-left: -1.25em;
    box-shadow: 0px 0px 15px 0px #17161694;
  }
  .portrait h3{
    font-size: 1.5em;
    margin-top: 18em;
    margin-left: -13em;
  }
  .portrait p{
    line-height: 2em;
    margin-top: 16em;
    margin-left: -21.5em;
    width:250px
  }
  .resume-container h4{
    text-align: center;
    margin-top: 120px;
    font-size: 2.5em;
    margin-top: 5em;
    margin-bottom: 0.5em;
  }
  .resume-container img{
    justify-self: center;
    position: absolute;
    margin-left: 0em;
    margin-top: 3em;
    width: 400px;
    box-shadow: 0px 0px 15px 0px #17161694;
  }
}
/* Media End */

/* original CSS */

/* *{
  padding: 0;
  margin: 0;
}
.top-bar{
   background-color:#5B5754;
   height: 18vh;
}

.container{
  display: grid;
    grid-template-columns: 1fr, 1fr, 1fr, 1fr, 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "a b c d e";
    position: fixed;
}

.circle{
  width:30vh;
  height: 30vh;
  background-color:#5B5754;
  border-radius: 50%;
  border: 0.5vh solid #ffffff;
  position: fixed;
  left: 42.5vw;
  z-index: 35;
  grid-area: c;
}

.portfolio{
  width: 23vw;
  height: 10vh;
  background-color:#5B5754;
  border: 0.5vh solid #ffffff;
  position: absolute;
  left: 0vw;
  grid-area: a;
  z-index: 2;
  margin-top: 10vh;
}
.about{
  width: 23vw;
  height: 10vh;
  background-color:#5B5754;
  border: 0.5vh solid #ffffff;
  position: fixed;
  left: 23.25vw;
  grid-area: b;
  z-index: 2;
  margin-top: 10vh;
}
.resume{
  width: 23vw;
  height: 10vh;
  background-color:#5B5754;
  border: 0.5vh solid #ffffff;
  position: fixed;
  right: 23.25vw;
  grid-area: d;
  z-index: 2;
  margin-top: 10vh;
}

.contact{
  width: 23vw;
  height: 10vh;
  background-color:#5B5754;
  border: 0.5vh solid #ffffff;
  position: fixed;
  right: 0vw;
  grid-area: e;
  z-index: 2;
  margin-top: 10vh;
  margin-left:auto;
  margin-right:auto;
}

.test{
  width: 100px;
  height: 100px;
  background-color: red;
  grid-area: "c";
  z-index: 3;
} */