*{
  padding: 0;
  margin: 0;
}
@font-face {
  font-family: Gotham-Black;
  src: url(Gotham-Black.otf);
}
@font-face {
  font-family: GothamBook;
  src: url(GothamBook.ttf);
}
html{
  scroll-behavior: smooth;
}
.title{
  font-family: 'Blenda Script';
}
/* Nav Bar Start */
.top-bar{
   background-color:#5B5754;
   height: 100px;
}
.container{
  display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
    grid-template-rows: auto;
    grid-template-areas:
     "portfolio about circle resume contact";
}
.portfolio{
  grid-area: portfolio;
  justify-self: center;
  background-color:#5B5754;
  box-shadow: 0px 0px 15px 0px #17161694;
  outline: 3px solid #ffffff;
  width: 290px;
  height: 50px;
  margin-top: 52px;
}
.portfolio a{
  font-size: 2em;
  position: relative;
  left: 2.4em;
  top: 0.1em;
  font-family: 'Blenda Script';
  color: white;
}
.portfolio a:hover{
  opacity:50%;
  transition:0.2s ease-in-out;
}
.about{
  grid-area: about;
  justify-self: center;
  background-color:#5B5754;
  box-shadow: 0px 0px 15px 0px #17161694;
  outline: 3px solid #ffffff;
  width: 290px;
  height: 50px;
  margin-top: 52px;
}
.about a{
  font-size: 2em;
  position: relative;
  left: 3.1em;
  top: 0.1em;
  font-family: 'Blenda Script';
  color: white;
}
.about a:hover{
  opacity:50%;
  transition:0.2s ease-in-out;
}
.circle{
  grid-area: circle;
  justify-self: center;
  background-color:#5B5754;
  box-shadow: 0px 0px 15px 0px #17161694;
  width: 152px;
  height: 152px;
  border-radius: 50%;
  outline: 3px solid #ffffff;
  position: absolute;
  margin-top: 1px;
}
.circle img{
  grid-area: circle;
  justify-self: center;
  width: 152px;
  height: 152px;
  border-radius: 50%;
  position: absolute;
  margin-top: -8px;
  margin-left: 5px;
}
.resume{
  grid-area: resume;
  justify-self: center;
  background-color:#5B5754;
  box-shadow: 0px 0px 15px 0px #17161694;
  outline: 3px solid #ffffff;
  width: 290px;
  height: 50px;
  margin-top: 52px;
}
.resume a{
  font-size: 2em;
  position: relative;
  left: 3.1em;
  top: 0.1em;
  font-family: 'Blenda Script';
  color: white;
}
.resume a:hover{
  opacity:50%;
  transition:0.2s ease-in-out;
}
.contact{
  grid-area: contact;
  justify-self: center;
  background-color:#5B5754;
  box-shadow: 0px 0px 15px 0px #17161694;
  outline: 3px solid #ffffff;
  width: 290px;
  height: 50px;
  margin-top: 52px;
}
.contact a{
  font-size: 2em;
  position: relative;
  left: 3em;
  top: 0.1em;
  font-family: 'Blenda Script';
  color: white;
}
.contact a:hover{
  opacity:50%;
  transition:0.2s ease-in-out;
}
/* Nav Bar End */

/* Portfolio Start */
.portfolio-container h1{
  text-align: center;
  font-family: 'Gotham-Black';
  font-size: 3em;
  margin-top: 2em;
  margin-bottom: 1em;
}
.pg-div{
  width: 1000px;
  height: 2px;
  background-color: #5B5754;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4em;
}
.portfolio-gallery{
  display:grid;
  /* margin-left:8em; */
  grid-template-columns: 250px 250px 250px ;
  grid-template-rows: 400px 400px;
  grid-template-areas: 
    "a b c"
    "d e f";
  column-gap: 100px;
  row-gap: 100px;
  justify-content: center;
}
.gallery-img{
  display: block;
  grid-area:auto;
  width: 250px;
  height: 400px;
  object-fit: cover;
  box-shadow: 0px 0px 15px 0px #17161694;
  transition:0.3s ease-in-out;
}

.gallery-img:hover{
  transform:scale(1.1);
  opacity:50%;
}
/* Portfolio End */

/* About Me Start */
.about-container h2{
  text-align: center;
  font-family: 'Gotham-Black';
  margin-top: 120px;
  font-size: 3em;
  margin-top: 2em;
  margin-bottom: 1em;
}
.portrait{
  display: grid;
  grid-template-columns: 250px 35em ;
  grid-template-rows: 10em 15em;
  column-gap: 130px;
  row-gap: 100px;
  justify-content: center;

}
.portrait img{
  grid-column: 1/2;
  width: 250px;
  height: 400px;
  margin-left: 2em;
  box-shadow: 0px 0px 15px 0px #17161694;
}
.portrait h3{
  grid-column: 2/2;
  grid-row: 1/2;
  font-family: 'Blenda Script';
  font-size: 2em;
  margin-top: 3em;
}
.portrait p{
  grid-column: 2/2;
  grid-row: 2/2;
  font-family: 'GothamBook';
  line-height: 2em;
  margin-top: -2.5em;
}
/* About Me End */

/* Resume Start */
.resume-container h4{
  text-align: center;
  font-family: 'Gotham-Black';
  margin-top: 120px;
  font-size: 3em;
  margin-top: 2em;
  margin-bottom: 1em;
}
.resume-container img{
  justify-self: center;
  position: absolute;
  margin-left: 12.15em;
  margin-top: 4em;
  box-shadow: 0px 0px 15px 0px #17161694;
}
/* Resume End */

/* Contact Start */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 0px;
  box-shadow: 0px 0px 15px 0px #17161694;
  margin-top: 6px;
  margin-bottom: 30px;
}
input[type=submit] {
  background-color: #5B5754;
  color: white;
  padding: 12px 20px;
}
input[type=submit]:hover {
  background-color: #9b9691;
}
.contact-container form{
  margin: 15em;
  margin-top: 7vh;
  box-shadow: 0px 0px 15px 0px #17161694;
  padding: 20px;
}
.contact-container h5{
  text-align: center;
  font-family: 'Gotham-Black';
  margin-top: 120px;
  font-size: 3em;
  margin-top: 20em;
  margin-bottom: 1em;
}
.bottom-bar{
  width: 100%;
  height: 15vh;
  position: absolute;
  align-self: baseline;
  margin-top: 0vh;
  background-color: #5B5754;
}
.top{
  font-size: 2em;
  text-align: center;
  position: relative;
  top: 0.8em;
  font-family: 'Gotham-Black';
  color: white;
}
.top a{
  color: white;
}
.top a:hover{
  opacity:50%;
  transition:0.2s ease-in-out;
}
/* Contact End */

/* Media Start */
@media (max-width: 700px),(max-width: 1000px) {
  .container{
    display: grid;
      grid-template-columns: 1fr .5fr 1fr ;
      grid-template-rows: 1fr 1fr;
      grid-template-areas:
       "portfolio circle resume"
       "about circle contact" 
  }
  .portfolio{
    width: 100%;
    height: 4vh;
    margin-top: 2.6vh;
  }
  .portfolio a{
    font-size: 3em;
    left: 1.9em;
    top: 0.2em;
    font-family: 'Blenda Script';
  }
  .about{
    width: 100%;
    height: 4vh;
    margin-top: 0.1vh;
  }
  .about a{
    font-size: 3em;
    left: 2.3em;
    top: 0.2em;
    font-family: 'Blenda Script';
  }
  .resume{
    width: 100%;
    height: 4vh;
    margin-top: 2.6vh;
  }
  .resume a{
    font-size: 3em;
    left: 2.9em;
    top: 0.2em;
    font-family: 'Blenda Script';
  }
  .contact{
    width: 100%;
    height: 4vh;
    margin-top: 0.1vh;
  }
  .contact a{
    font-size: 3em;
    left: 3em;
    top: 0.2em;
    font-family: 'Blenda Script';
  }
  .circle{
    width: 14vh;
    height: 14vh;
  }
  .circle img{
    margin-top: -0.5vh;
    width: 14vh;
    height: 14vh;
  }
  .portfolio-container h1{
    font-size: 2.5em;
    margin-top: 6em;
    margin-bottom: 1em;
  }
  .pg-div{
    width: 400px;
    height: 2px;
    margin-bottom: 3em;
  }
  .gallery-img{
    max-width: 300px;
    max-height: 500px;
  }
  .portfolio-gallery{
    grid-template-columns: 300px 300px ;
    grid-template-rows: 500px 500px 500px 500px 500px 500px;
    grid-template-areas: 
    "a b"
    "c d"
    "e f";
    column-gap: 50px;
    row-gap: 50px;
    justify-content: center;
    margin-left: 3em;
  }
  .about-container h2{
    font-size: 2.5em;
    margin-top: -40em;
    margin-bottom: 1em;
  }
  .portrait{
    display: grid;
    grid-template-columns: 250px;
    grid-template-rows: 10em 15em 12em;
    column-gap: 80px;
    row-gap: 75px;
    margin-left: 8em;
  
  }
  .portrait img{
    width: 500px;
    height: 800px;
    margin-left: -7em;
    box-shadow: 0px 0px 15px 0px #17161694;
  }
  .portrait h3{
    font-size: 1.5em;
    margin-top: 37em;
    margin-left: -14em;
  }
  .portrait p{
    line-height: 2em;
    margin-top: 24em;
    font-size: 2em;
    margin-left: -13em;
    width: 500px
  }
  .resume-container h4{
    text-align: center;
    font-size: 2.5em;
    margin-top: 32em;
    margin-bottom: 1em;
  }
  .resume-container img{
    left: -105px;
    top: 275em;
    width: 800px;
  }
  .bottom-bar{
    height: 6vh;
  }
  input[type=text], select, textarea {
    width: 100%;
    font-size: 0.75em;
    padding: 22px;
    margin-top: 6px;
    margin-bottom: 30px;
  }
  input[type=submit] {
    margin-left: 9.5vh;
    font-size: 1em;
  }
  .contact-container form{
    margin: 6em;
    font-size: 2em;
    margin-top: 3vh;
  }
  .contact-container h5{
    font-size: 2.5em;
    margin-top: 32em;
  }
  .top{
    font-size: 1.5em;
    text-align: center;
    position: relative;
    top: 1.2em;
    font-family: 'Gotham-Black';
  }
}
/* Media End */

/* original CSS */

/* *{
  padding: 0;
  margin: 0;
}
.top-bar{
   background-color:#5B5754;
   height: 18vh;
}

.container{
  display: grid;
    grid-template-columns: 1fr, 1fr, 1fr, 1fr, 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "a b c d e";
    position: fixed;
}

.circle{
  width:30vh;
  height: 30vh;
  background-color:#5B5754;
  border-radius: 50%;
  border: 0.5vh solid #ffffff;
  position: fixed;
  left: 42.5vw;
  z-index: 35;
  grid-area: c;
}

.portfolio{
  width: 23vw;
  height: 10vh;
  background-color:#5B5754;
  border: 0.5vh solid #ffffff;
  position: absolute;
  left: 0vw;
  grid-area: a;
  z-index: 2;
  margin-top: 10vh;
}
.about{
  width: 23vw;
  height: 10vh;
  background-color:#5B5754;
  border: 0.5vh solid #ffffff;
  position: fixed;
  left: 23.25vw;
  grid-area: b;
  z-index: 2;
  margin-top: 10vh;
}
.resume{
  width: 23vw;
  height: 10vh;
  background-color:#5B5754;
  border: 0.5vh solid #ffffff;
  position: fixed;
  right: 23.25vw;
  grid-area: d;
  z-index: 2;
  margin-top: 10vh;
}

.contact{
  width: 23vw;
  height: 10vh;
  background-color:#5B5754;
  border: 0.5vh solid #ffffff;
  position: fixed;
  right: 0vw;
  grid-area: e;
  z-index: 2;
  margin-top: 10vh;
  margin-left:auto;
  margin-right:auto;
}

.test{
  width: 100px;
  height: 100px;
  background-color: red;
  grid-area: "c";
  z-index: 3;
} */